*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;

}

:root{
    
    --color1 :#333333;
    --color2 : #ffffff;
    --color3 : #d6d6d6;
}

body{
    background-color: var(--color2);

}